<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input
        required
        minlength="5"
        maximumlength="10"
        ngModel
        name="courseName"
        id="courseName"
        #courseName="ngModel"
        type="text"
        class="form-control">
      <div
        class="alert alert-danger"
        *ngIf="courseName.touched && !courseName.valid">
        <div
          *ngIf="courseName.errors.required">
          Course Name is required!
        </div>
        <div
        *ngIf="courseName.errors.minlength">
        Course Name should be minimum {{ courseName.errors.minlength.requiredLength }} character!
      </div>
      </div>
    </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select ngModel name="category" id="category" class="form-control">
      <option value=""></option>
      <option
        *ngFor="let method of category"
        [value]="method.id">
        {{method.name}}
      </option>
    </select>
    </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="hasGuarante"> 30-Day Money-back guarantee.
    </label>
  </div>
  <p>
    {{ f.value | json}}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
</form>
